@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

*,
h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Open Sans;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.nav {
  background-color: #f6f6f6;
  padding: 0 15px;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
}

.nav a {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 20px;
  color: black;
  border-radius: 5px;
  gap: 10px;
  text-align: center;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.nav a:hover {
  background-color: transparent;
  color: black;
}

section {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 15px;

  @media (min-width: 1000px) {
    padding: 0;
  }
}

section h1 {
  margin: 10px 0px;


  @media (min-width: 768px) {
    padding: 0;
    font-size: 42px;
  }
}

.section_heading {
  margin-bottom: 40px;
}

.converter_field {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field_element {
  display: flex;
  flex-direction: column;
}

input {
  -webkit-appearance: none;
  appearance: none;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  background-color: white;
  outline-color: #ffde34;
}

select {
  background: url(https://ik.imagekit.io/zxaewhloxf/arrow.svg?updatedAt=1703427789279)
    no-repeat 98% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  color: black;
  background-color: white;
  outline-color: #ffde34;
  cursor: pointer;
}

label {
  background-color: white;
  margin: -9px 10px;
  z-index: 1;
  width: fit-content;
  padding: 0 10px;
  font-weight: 500;
}

.secondaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: fit-content;
  cursor: pointer;
}

.secondaryButton:hover {
  background-color: transparent;
  color: black;
}

.dropdown {
  position: relative;
  z-index: 2;
}


.dropdown_content {
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0 20px;
  min-width: 250px;
}

.dropdown_content li {
  border-bottom: 2px solid #e7e7e7 ;
  padding: 20px 0;
 
}

.dropdown_content li:last-of-type {
  border-bottom: none;
  
}

@media (hover: hover) {
  .secondaryButton:hover {
    background-color: #ddd;
  }

  .nav a:hover {
    background-color: #ddd;
  }
 }


.convertButton {
  padding: 15px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  border: none;
  background-color: #0099ff;
  color: white;
  cursor: pointer;
}

.convertButton:active {
  background-color: #50b6fb;
}

.output p {
  font-weight: bold;
  margin: 10px 10px;
  font-size: 60px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  width: 100%;
  height: 50px;
}

footer p {
  width: 100%;
  padding: 10px;
  text-align: center;
}
